/* adopted from codepen  */

#timeline-content {
  margin-top: 50px;
  text-align: center;
}
/* Timeline */
.timeline {
  border-left: 4px solid #cf4420;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  /* background: rgba(255, 255, 255, 0.03); */
  /* color: rgba(49, 53, 53, 0.8); */
  /* font-family: 'Chivo', sans-serif; */
  margin: 20px auto;
  left: 8em;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.0em;
  font-size: 1em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  /* max-width: 80%; */
}
.timeline h1 {
  /* font-family: 'Saira', sans-serif; */
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
}
.timeline h2,
.timeline h3 {
  /* font-family: 'Saira', sans-serif; */
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 1.4em;
}
.timeline .event {
  border-bottom: 1px dashed rgba(99, 0, 49, 0.3);
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -217.5px;
  color: rgba(49, 53, 53, 0.8);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
  /* font-family: 'Saira', sans-serif; */
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #630031;
  left: -57.85px;
  background: #630031;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}
